MONGO_URI=mongodb+srv://adnaninsky:980Orwo7M5xB8fnh@cluster0.bd9ywas.mongodb.net/lms_db
JWT_SECRET_KEY=your-super-secret-jwt-key-change-this
CLOUDINARY_CLOUD_NAME=dy8kariwa
CLOUDINARY_API_KEY=279216853178921
CLOUDINARY_API_SECRET=lDGBl1SHNqwjET_AEb4pAb4Kz90
ADMIN_EMAIL=admin@lms.com
ADMIN_PASSWORD=Admin@123
FLASK_ENV=development
